upstream apps {
	{% for host in availability_zone_apps %}
	server {{ host }};
	{% endfor %}
}

server {
	listen 80 default_server;
	listen [::]:80 default_server;

	server_name _;

	location / {
		proxy_pass http://apps;
	}
}